<div class="border_form">
<%= form_for @does_award do |f| %>
  <%= f.label :award %>
  <%= f.text_field :award %>
  <br><br>
  <%= f.submit %>
<% end %>

<%= render "layouts/errors", :object => @does_award %>
</div>
