<%= image_tag 'junior.jpeg' %>
<h1><%= @junior.name %></h1>
<h2><%= @junior.price %></h2>

<h3><%= link_to 'Edit', edit_junior_path %>
<%= @junior.name %></h3>
<h3><%= link_to 'Add Awards', new_juniors_award_path %>
<h3><%= link_to 'Edit Awards', edit_juniors_award_path %>
<h3><%= link_to 'Add Pedigree', new_juniors_pedigree_path %>
<h3><%= link_to 'Edit Pedigree', edit_juniors_pedigree_path %>
