<%= image_tag 'doe.jpeg' %>
<h1><%= @doe.name %></h1>
<h2><%= @doe.price %></h2>

<h3><%= link_to 'Edit', edit_do_path %>
<%= @doe.name %></h3>
<h3><%= link_to 'Add Awards', new_does_award_path %>
<h3><%= link_to 'Edit Awards', edit_does_award_path %>
<h3><%= link_to 'Add Pedigree', new_does_pedigree_path %>
<h3><%= link_to 'Edit Pedigree', edit_does_pedigree_path %>
