<%= image_tag 'doe.jpeg', :class => "size_show" %>
  <div class="center">
    <h1><%= @doe.name %> <span><%= number_to_currency @doe.price %></span></h1>
    <% if current_user %>
        <h2><%= link_to 'Edit', edit_do_path %> <%= @doe.name %><h2>
    <% end %>
  </div>
  <div class="left">
    <div class="row">
      <div class="col-md-6">
        <h1>Awards:</h1>
        <% if @doe.dawards.any? %>
          <h2>Here Are <%= @doe.name %>'s Awards:</h2>
            <% @doe.dawards.each do |daward| %>
              <h2><%= daward.award %></h2>
                <% if current_user %>
                  <%= link_to "Edit Award", edit_do_daward_path(@doe, daward) %> |
                  <%= link_to "Delete", do_daward_path(@doe, daward),
                                           :data => {:confirm => "Are you sure?",
                                                          :method => "delete"} %>
              <% end %>
            <% end %>
          <% else %>
            <h2>There Are No Awards Yet!</h2>
        <% end %>
        <br><br><br>
      <% if current_user %>
        <p><%= link_to "Add", new_do_daward_path(@doe) %> <%= @doe.name %>'s Awards.</p>
        <p><%= link_to "Edit", edit_do_daward_path(@doe) %> Awards.</p>
      <% end %>
      </div>
      <div class="col-md-6">
        <h1>Pedigree:</h1>
        <% if @doe.dawards.any? %>
          <h2>Here is <%= @doe.name %>'s Pedigree:</h2>
            <% @doe.dawards.each do |daward| %>
                <h2><%= daward.pedigree %></h2>
                <% if current_user %>
                  <%= link_to "Edit Pedigree", edit_do_daward_path(@doe, daward) %>
              <% end %>
            <% end %>
          <% else %>
            <h2>Pedigree Not Assigned Yet!</h2>
        <% end %>
        <br><br><br>
      <% if current_user %>
        <p><%= link_to "Add", new_do_daward_path(@doe) %> <%= @doe.name %>'s Pedigree.</p>
        <p><%= link_to "Edit", edit_do_daward_path(@doe) %> Pedigree.</p>
      <% end %>
      </div>
  </div>
</div>
<br><br><br>
<h5 class="center"><%= link_to "Delete", do_path(@doe),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %> <%=@doe.name %>.</h5>
<h4 class="center"><%= link_to "Return to Does", does_path %></h4>
