<%= image_tag 'doe.jpeg' %>
<h1><%= @doe.name %></h1>
<h2><%= @doe.price %></h2>

<h3><%= link_to 'Edit', edit_do_path %>
<%= @doe.name %></h3>
<% if @doe.dawards.any? %>
  <h4>Here are the dawards for this doe:</h4>

  <ul>
    <% @doe.dawards.each do |daward| %>
      <li>
        <%= daward.description %> |
        <%= link_to "Edit daward", edit_do_daward_path(@doe, daward) %> |
        <%= link_to "Delete", do_daward_path(@doe, daward),
                                 :data => {:confirm => "Are you sure?",
                                                :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no dawards yet!</p>
<% end %>

<p><%= link_to "Add a daward", new_do_daward_path(@doe) %></p>
<p><%= link_to "Edit doe", edit_do_path(@doe) %></p>
<p><%= link_to "Delete List", do_path(@doe),
                        :data => {:confirm => "Are you sure?",
                                       :method => "delete"} %></p>

<p><%= link_to "Return to does", does_path %></p>
