<%= image_tag 'goat.jpeg' %>
<h1><%= @buck.name %></h1>
<h2><%= @buck.price %></h2>

<h3><%= link_to 'Edit', edit_buck_path %>
<%= @buck.name %></h3>
<h3><%= link_to 'Add Awards', new_bucks_award_path %>
<h3><%= link_to 'Edit Awards', edit_bucks_award_path %>
<h3><%= link_to 'Add Pedigree', new_bucks_pedigree_path %>
<h3><%= link_to 'Edit Pedigree', edit_bucks_pedigree_path %>
