<div class="border_form">
<%= form_for @juniors_award do |f| %>
  <%= f.label :award %>
  <%= f.text_field :award %>
  <br><br>
  <%= f.label :pedigree %>
  <%= f.text_field :pedigree %>
  <br><br>
  <%= f.submit %>
  <%= f.submit %>
<% end %>

<%= render "layouts/errors", :object => @juniors_award %>
</div>
