<div class="border_form">
<%= form_for [@junior, @jaward] do |f| %>
  <%= f.label :award %>
  <%= f.text_field :award %>
  <br><br>
  <%= f.label :pedigree %>
  <%= f.text_field :pedigree %>
  <br><br>
  <%= f.submit %>
<% end %>

<%= render "layouts/errors", :object => @jaward %>
</div>
